@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


*,
*::after,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}
.board {
  background-color: #0C0032;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
h1{
  position: absolute;
  top: 0;
  margin: 0;
  width: 100vw;
  text-align: center;
  color: White;
  font-size: 3rem;
  font-family: "Russo One";
  animation: sway 2s linear infinite alternate; 
  
}


.cell {
    width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid white;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before
{
background-color: rgba(8, 37, 104, 0.8);
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
  border-radius: 50%;;
}

.cell.x::before,
.cell.x::after{
    background-color: white;
    border-radius: 50%;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    content: "";
    position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}
.cell.x::after ,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.o):not(.x):hover::before,
.board.o .cell:not(.o):not(.x):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.cell.o:before {
    background-color: white;
}
.cell.o:before ,
.board.o .cell:not(.o):not(.x):hover::before{
  width: calc(var(--mark-size)*.9);
  height: calc(var(--mark-size)*.9);
}
.cell.o:after,
.board.o .cell:not(.o):not(.x):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #0C0032;
}

.cell.x,
.cicle.o {
    cursor: not-allowed;
}


.win-message{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    animation: sway 3s linear infinite alternate;
}
@keyframes sway{
  from{
    transform: translateX(-10px);
  }
  to{
    transform: translateX(10px);
  }
}
.win-message button{
    font-size: 3rem;
    background-color: white;
    border: 3px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.win-message button:hover{
    background-color: black;
    border-color: white;
    color:white
}

.win-message.show{
    display: flex;
}